[Paths]
#input = /archive2/data/CCI_VGT/VIIRS/cci_VIIRS_L2A_201906190806_X25Y06_1KM_v1.0.0.nc
#input = /mnt/pve/cephfs/proj/CCI_VGT/MODIS/2_after_tiling/TERRA/A2019174.1025.061/MODIS_Terra_500_X19Y03_201906231025_333M.nc
#input = /home/bruno/Tools/netcdf/MODIS_Terra_500_X19Y03_201906231025_333M_modif.nc
input = /mnt/pve/cephfs/proj/CCI_VGT/MODIS/TERRA/A2019052.0950.061/MODIS_Terra_500_X19Y04_201902210950_333M.nc

#output = ./output/cci_VIIRS_L2A_201906190806_X25Y06_1KM_v1.0.0_toc.nc
#output = ./output/TOC_MODIS_X06Y04_201906032045_333M.nc
#output = ./output/TOCR_MODIS_Terra_500_X19Y03_201906231025_333M_modif.nc
output = /envs/bruno/cache/MODIS_Terra_500_X19Y04_201902210950_333M_toc_test_modul.nc

#merraaero = /archive2/data/MERRA2/aer_extinction/2019/MERRA2_400.tavg1_2d_aer_Nx.20190619.nc4
merraaero = /archive2/data/MERRA2/aer_extinction/2019/MERRA2_400.tavg1_2d_aer_Nx.20190221.nc4
#merraptwo = /archive2/data/MERRA2/surf_pression_water_vapor/2019/MERRA2_400.tavg1_2d_slv_Nx.20190619.nc4
merraptwo = /archive2/data/MERRA2/surf_pression_water_vapor/2019/MERRA2_400.tavg1_2d_slv_Nx.20190221.nc4
smaccoef_dir =  ./COEFFS/
smaccoef_version = 3.0
dem = /archive2/data/DEM/GLOBE/GTOPO30_DZ_MLUT.nc
faer = ./ancillary/Aerosol_model_fraction.txt

[Sensor]
platform = Terra
sensor = MODIS
bands = 1 2 3 4 5 7 
#Uco = 0.02 0.02 0.02 0.02 0.02 0.02 0.02 0.02 0.02 0.02 0.052

[Coefficients]
k_uh2o = 1e-1
k_uo3 = 1e-3
k_p0 = 1e-2
Etoa = 0
ERtoa = 0.01
Etaup = 0.05
ERtaup = 0.15
Euo3 = 0.0
ERuo3 = 0.06
Euh2o = 0.0
ERuh2o = 0.2
Epre = 1.0
ERpre = 0.0
taot = 0.5

[Sizes]
imsize = -1
nbchunk = 20

[Output]
Jacobien = False
