[Paths]
#input = ./INPUT/
#output = ./OUTPUT/c3s_L2A_20140921_Example_071624_333M_3_PROBAV_V1.0.2.toc.nc
#merraaero = ./ANCILLARY/MERRA2_400.tavg1_2d_aer_Nx.20140921.nc4
#merraptwo = ./ANCILLARY/MERRA2_400.tavg1_2d_slv_Nx.20140921.SUB.nc4
#smaccoef_dir =  ./ANCILLARY/SMAC_COEFFS
#smaccoef_version = 3.0
#dem = /rfs/data/SRTM3
#brdf = /home/did/RTC/smaccl/input/c3s_brdf_20041130000000_X00Y04_AVHRR_NOAA17_V1.0.1.nc
#brdf
input = /mnt/ceph/proj/FDR4VGT/input/probav
output = ./probav_toc.nc
merraaero = /archive2/data/MERRA2/aer_extinction/2014/MERRA2_400.tavg1_2d_aer_Nx.20141111.nc4
merraptwo = /archive2/data/MERRA2/surf_pression_water_vapor/2014/MERRA2_400.tavg1_2d_slv_Nx.20141111.nc4
smaccoef-dir = /archive/proj/C3S/
dem = /archive2/data/DEM/GLOBE/GTOPO30_DZ_MLUT.nc
faer = ./ancillary/Aerosol_model_fraction.txt

[Sensor]
sensor = VITO_PROBAV
smaccoef_version = 3.0

[Coefficients]
k_uh2o = 1e-1
k_uo3 = 1e-3
k_p0 = 1e-2
Etoa = 0
ERtoa = 0.01
Etaup = 0.05
ERtaup = 0.15
Euo3 = 0.0
ERuo3 = 0.06
Euh2o = 0.0
ERuh2o = 0.2
Epre = 1.0
ERpre = 0.0
taot = 0.5
#aero_nmod = 22      
tocmin = 0.0        
tocmax = 1.0235      
aotmax = 0.6        
szamax = 80.        

[Sizes]
imsize = -1
nbchunk = 100
Nmodels = 10

[Output]
Jacobien = False
